<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
  xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p" xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-2.5.xsd
                           http://www.springframework.org/schema/aop
                           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util-2.0.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

  <context:annotation-config />
  <context:spring-configured />
  
  <!-- Sets the PropertiesBuilderFactory for the configuration utilities -->
  <bean id="configurationUtilities" class="net.zcarioca.zcommons.config.util.ConfigurationUtilities"
     factory-method="getInstance">
    <property name="propertiesBuilderFactory">
       <bean class="net.zcarioca.zcommons.config.util.PropertiesBuilderFactory">
          <property name="addEnvironmentProperties" value="true"/>
          <property name="addSystemProperties" value="true"/>
       </bean>
    </property>
    <property name="reconfigureOnUpdateEnabled" value="true" />
  </bean>
  
  <!--  This adds the mock provider to the mapping  -->
  <bean class="net.zcarioca.zcommons.config.source.ConfigurationSourceProviderMapper" factory-method="getInstance">
    <property name="associations">
      <map>
        <entry key="net.zcarioca" value="MOCK-PROVIDER"/>
      </map>
    </property>
  </bean>
  
  <!--  This will trigger processing of @PostConstruct and @PreDestroy -->
  <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />
  
  <!--  This processes the @ConfiguredAttribute annotations -->
  <bean id="confPostProcessor" class="net.zcarioca.zcommons.config.spring.ConfigurationInjectionPostProcessor"/>

  <context:component-scan base-package="net.zcarioca" />
  
  <bean id="configuredObject" class="net.zcarioca.zcommons.config.spring.ConfigurableObject"/>

</beans>